<h3 class="text-center mb-4">Capture Image</h3>

<h5 class="mb-2"><%= @snippet.description %></h5>
<div data-controller="picture">
	<div data-picture-target="code" class="bg-cyan px-16 py-20">
		<%= render partial: 'shared/codemirror', locals: { code: @snippet.body, mode_id: @snippet.language_id, read_only: false, capture: true  } %>
	</div>

	<div class="flex justify-end mt-4">
		<%= button_tag('Tweet', class: 'button--cta-tertiary mr-2', data: { action: 'click->picture#tweet' }) %>
		<%= button_tag('Download', class: 'button--cta-tertiary', data: { action: 'click->picture#download' }) %>
	</div>
</div>
