<div data-controller="cropper">
  <div>
    <img data-target="cropper.image" style="display: block; max-width: 100%;" id="new-avatar">
  </div>

  <div class="action-buttons">
    <button data-action="click->cropper#handleImageCrop" class="button--cta-blue">CROP</button>
  </div>
</div>
