<div class="form--generic mt-8">
  <h1 class="text-center text-4xl">Nearly there!</h1>
  <p class="text-center mt-2">Please confirm your email address by clicking the link in the email we just sent you.</p>

  <div class="form--generic-form-sign-in-up">
    <div class="actions">
      <%= button_to "RESEND EMAIL", new_user_confirmation_path, class: "button--cta-primary w-full flex justify-center", method: :get %>
    </div>
  </div>

  <p class="text-center mb-4">Confirmed your email? <a data-controller="modal" data-modal-url-value="<%= sign_in_modals_users_path %>" data-action="click->modal#present">Sign in</a></p>
</div>
