<div class="form--generic">
  <h1 class="text-center">Nearly there!</h1>
  <p class="text-center">Please confirm your email address by clicking the link in the email we just sent you.</p>

  <div class="form--generic-form-sign-in-up">
    <div class="actions">
      <%= button_to "RESEND EMAIL", new_user_confirmation_path, class: "button--cta-primary", method: :get %>
    </div>
  </div>

  <p class="text-center">Confirmed your email? <a data-controller="modal" data-modal-url-value="<%= sign_in_modals_users_path %>" data-action="click->modal#present">Sign in</a></p>
</div>
