<%= render 'shared/user_admin', { header: @header, sub_header: @sub_header, footer: @footer } do %>
  <%= button_to "RESEND EMAIL", new_user_confirmation_path, class: "button--cta-primary w-full flex justify-center", method: :get %>
</div>

<% end %>
