<%= render 'shared/user_admin', { header: @header, sub_header: @sub_header, footer: @footer } do %>

  <div>
    <button data-controller="modal" data-modal-url-value="<%= sign_up_modals_users_path %>" data-action="click->modal#present" class="mb-4 button--cta-primary w-full flex justify-center">SIGN UP</button>
    <button data-controller="modal" data-modal-url-value="<%= sign_in_modals_users_path %>" data-action="click->modal#present" class="button--cta-tertiary w-full flex justify-center">SIGN IN</button>
  </div>

<% end %>
