<div class="form--generic">
  <h1 class="text-center">Sign in to continue</h1>
  <p class="text-center">Create an account to stay in the loop!</p>

  <div class="form--generic-form-sign-in-up">
    <button data-controller="modal" data-modal-url-value="<%= sign_in_modals_users_path %>" data-action="click->modal#present" class="button--sign-in">SIGN IN</button>
    <button data-controller="modal" data-modal-url-value="<%= sign_up_modals_users_path %>" data-action="click->modal#present" class="margin-top button--sign-up">SIGN UP</button>
  </div>
</div>
