<div class="popover--container" data-target="popover.popover">
  <% @popover_options.each do |option| %>
      <div 
        data-controller="snippets"
        data-action="click->snippets#delete_alert"
        data-snippets-url="<%= option[:url] %>"
        class="popover--item"
      >
        <span><%= option[:title] %></span>
      </div>
  <% end %>
</div>
