<p class="text-gray-400 text-sm text-center"><%= pluralize(folder.snippets.count, 'snippet') %> | <%= folder.snippets.public_snippets.count %> public | <%= folder.snippets.private_snippets.count %> private</p>
