<% content_for :cache_control do %>
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<% content_for :folders_sidebar do %>

  <%= render 'shared/cards/card' do %>
    <%= render 'folders/folders' %>
  <% end %>

  <div data-infinite-scroll-container-target="pagination" class="hidden">
    <%= will_paginate @folders, container: false %>
  </div>
<% end %>

<div class="flex-3 margin-left scroll" data-action="scroll->folders#scroll" data-folders-target="body"></div>
