<h1 class="text-center margin-top margin-bottom">Snippets</h1>

<div data-controller="infinite-scroll-window snippets-list" data-infinite-scroll-window-base-url="<%= snippets_path %>">
  <div class="flex v-center space-between padding-bottom z-3 bg-grey">

      <div class="searchbar">
        <input autofocus
          type="text"
          placeholder="Search"
          data-action="input->infinite-scroll-window#search"
          data-infinite-scroll-window-target="input"
        />
        <img src="/icons/search.svg">
      </div>
  </div>

  <div
    data-infinite-scroll-window-target="entries"
    data-action="scroll@window->infinite-scroll-window#scroll snippet-created@window->infinite-scroll-window#add snippet-updated@window->snippets-list#update"
  >
    <%= render 'snippets/snippets' %>
  </div>

  <div data-infinite-scroll-window-target="pagination" class="hidden">
    <%= will_paginate @snippets, container: false %>
  </div>
</div>
