<div class="popover--container" data-target="popover.popover">
  <% @popover_options.each do |option| %>
    <% if option[:url] %>
      <%= link_to option[:url], class: "popover--item", data: { controller: "popover", action: "mousedown->popover#retain_focus" } do %>
        <span><%= option[:title] %></span>
      <% end %>
    <% else %>
      <div 
        data-controller="popover"
        data-action="click->popover#confirm"
        data-popover-confirm="<%= option[:confirm_text] %>"
        class="popover--item"
      >
        <span><%= option[:title] %></span>
      </div>
    <% end %>
  <% end %>
</div>
