<%= render partial: 'snippets/snippet', locals: { snippet: @snippet }%>

<div class="snippet-show--comments-wrapper">
  <% @snippet.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment } %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render partial: 'comments/new', locals: { snippet: @snippet, comment: @comment } %>
<% else %>
  <div class="card--container card--container-padding text-center margin-top">
    <span>Please <a class="color-primary normal" data-controller="modal" data-modal-url-value="<%= sign_in_modals_users_path %>" data-action="click->modal#present">sign in</a> to join the discussion.</span>
  </div>
<% end %>
