<h3 class="text-center">New Folder</h3>

<%= form_with scope: :folder, url: folders_path, local: true, class: "mt-4", data: { controller: "form", form_enabled_class: "button--cta-primary", form_disabled_class: "button--disabled", } do |form| %>

  <%= form.text_field(
    :name,
    placeholder: "Name your folder",
    data: { controller: "focus", focus_target: "focus", form_target: "field", action: "input->form#validateInput" },
    class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-sm"
  )
  %>

  <div class="mt-4 flex justify-end">
    <%= form.submit 'CREATE', class: "button--disabled", data: { form_target: "submit" } %>
  </div>
<% end %>
