<div class="relative">
  <%= link_to user_path(user) do %>
    <%= image_tag user.avatar_url, class: "h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center"%>
  <% end %>

  <% if defined?(icon) %>
    <%= render partial: "shared/icons/#{icon}", locals: { width: 5, height: 5, color: "#{color_class_for_notification_icon(icon)} absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px" } %>
  <% end %>
</div>
