<% if @notifications.any? %>
  <%= render 'shared/cards/card_no_padding' do %>
    <ul class="divide-y divide-gray-200">
      <% @notifications.each do |notification| %>
        <%= render partial: "notifications/#{notification.notifiable_type.underscore}", locals: { notification: notification } %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= render 'shared/empty_state_message' do %>
    <span class="color-grey block text-center margin-top">It looks like you don't have any notifications yet.</span>
  <% end %>
<% end %>
