<%# rename to more ubtton or something %>
<div data-controller="popover" data-action="click->popover#display focusout->popover#hide" data-popover-url="<%= popover_path %>" class="more-button">
  <%= image_tag "/icons/more.svg", width: 12 %>
</div>
