<div class="relative">
  <%= link_to user_path(user) do %>
    <%= image_tag user.avatar_url, class: "h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" %>
  <% end %>
</div>
