<% if @users.any? %>
  <% @users.each do |user| %>
    <%= render partial: 'users/follow_preview', locals: { user: user } %>
  <% end %>
<% else %>
  <%= render 'shared/empty_state_message' do %>
    <span class="color-grey block text-center mb-4">We couldn't find any results to match your search.</span>
  <% end %>
<% end %>
