<div class="card--container card--container-padding margin-bottom">
  <div class="flex space-between">
    <%= render partial: 'users/preview', locals: { user: user } %>
    <div>
      <%= render partial: 'users/follow_button', locals: { user: user } %>
    </div>
  </div>
  <span class="follow--description"><%= user.bio %></span>
</div>
