<%= render 'connect/card', { user: user, url: user_path(user) } do %>
  <div class="flex justify-between flex-1">
    <div class="min-w-0">
      <div>
        <div class="text-sm">
          <%= link_to user.name, user_path(user), class: "font-medium text-gray-900" %>
        </div>
      </div>
      <div class="mt-2 text-sm text-gray-700">
        <p>
          <%= user.bio %>
        </p>
      </div>
    </div>
    <%= render partial: 'users/follow_button', locals: { user: user } %>
  </div>
<% end %>
