<%= render partial: 'users/avatar', locals: { user: user } %>
<div class="min-w-0 flex-1">
  <div>
    <div class="text-sm">
      <%= link_to user.name, user_path(user), class: "font-medium text-gray-900" %>
    </div>
    <% if defined?(resource) %>
      <p class="text-sm text-gray-500">
        <%= time_ago_in_words(resource.created_at) %> ago
      </p>
    <% end %>
  </div>
</div>
