<card>
  <user-profile
    :user="<%= @serialized_user %>"
    :is-following="<%= @is_following %>"
  />
</card>

<card>
  <% @followers.each_with_index do |follower, index| %>
    <% if index > 0 %>
      <div class="horizontal-line"></div>
    <% end %>
    <div class="follow--container">
      <user-preview :user="<%= @serialized_user %>"></user-preview>
      <span class="follow--description"><%= follower.description %></span>
    </div>
  <% end %>
</card>
