<div id="alert" class="alert-mask hidden" data-controller="alert" data-target="alert.alert">
  <div class="alert-wrapper">
    <div data-target="alert.body" class="alert-container"></div>
  </div>
</div>
