<% if users_for_connect && users_for_connect.any? %>
  <div class="card--container card--container-padding-horizontal margin-top" data-controller="list" data-list-url-value="<%= users_path(limit: 5) %>">
    <h3 class="text-center no-margin-top margin-bottom">Connect</h3>
    <% users_for_connect.each do |user| %>
      <%= render partial: 'users/connect', locals: { user: user } %>
    <% end %>
    <div class="flex flex-end margin-top">
      <%= link_to 'More...', connect_path, class: 'padding-right light' %>
    </div>
  </div>
<% end %>
