<div class="folders--list-item-wrapper">    
  <div class="folders--list-item">
    <%= link_to folder_path(folder), class: "folders--list-item--link", title: folder.name do %>
      <span class="folders--snippet-count"><%= folder.snippet_count %></span>
      <img class="folders--snippet-icon" src="/icons/folder-1.svg" width="28">
      <span class="folders--list-item--title"><%= folder.name %></span>
      <%= render partial: 'shared/popover_trigger', locals: { popover_path: popover_folder_path(folder), position: 'top-right' } %>
    <% end %>
  </div>
</div>
