<div
  class="rounded-md h-full"
  <% if user_signed_in? %>
    data-controller="like"
    data-like-target="container"
    data-like-url-value="<%= likes_path(like: { user_id: current_user&.id, snippet_id: snippet.id }) %>"
  <% else %>
    data-controller="modal"
    data-modal-url-value="<%= sign_in_sign_up_modals_users_path %>"
    data-action="click->modal#present"
  <% end %>
>
  <div 
    class="flex h-full items-center bg-gray-100 rounded-md px-1 mr-2 cursor-pointer hover:shadow-md transition"
    data-action="click->like#toggle"
  >
    <%= render partial: 'shared/icons/heart', locals: { width: 5, height: 5, color: color_for_like_status(snippet) } %>
    <span class="inline-block text-sm text-gray-500"><%= snippet.likes_count %></span>
  </div>
</div>