<div
  class="rounded-md h-full"
  <% if user_signed_in? %>
    data-controller="like"
    data-like-target="container"
    data-like-url-value="<%= likes_path(like: { user_id: current_user&.id, snippet_id: snippet.id }) %>"
  <% else %>
    data-controller="modal"
    data-modal-url-value="<%= sign_in_sign_up_modals_users_path %>"
    data-action="click->modal#present"
  <% end %>
>
  <div 
    class="flex h-full items-center bg-gray-100 rounded-md px-1 mr-2 cursor-pointer hover:shadow-md transition"
    data-action="click->like#toggle"
  >
    <svg class="w-5 h-5 inline-block mr-1 <%= color_for_like_status(snippet) %>" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
    <span class="inline-block text-sm text-gray-500"><%= snippet.likes_count %></span>
  </div>
</div>