<div data-controller="modal" data-target="modal.modal" class="modal-mask">
  <div class="modal-wrapper">
    <div class="card--container card--container-padding modal-container">
      <div class="modal-header">
        <h3>header</h3>
        <span data-action="click->modal#close">
          <img class="modal-close" src="/icons/cancel.svg" width="22">
        </span>
      </div>

      <div class="modal-body">
        <div>
          <input class="move-snippet--search" type="search" placeholder="Find a folder...">
          <div
            data-controller="snippets"
            data-snippets-selected-folder-id="<%= @current_folder.id %>"
            data-snippets-original-folder-id="<%= @current_folder.id %>"
            class="move-snippet--list"
          >
            <% @folders.each do |folder| %>
              <div data-action="click->snippets#select_folder" data-folder-id="<%= folder.id %>" class="move-snippet--item">
                <span><%= folder.name %></span>
                <% if folder.id == @current_folder.id %>
                  <img id="selected-checkmark" src="/icons/checked.svg" width="14">
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="move-snippet--buttons">
            <button data-action="click->modal#close" class="button--cta-cancel">CANCEL</button>
            <button data-controller="snippets" data-action="click->snippets#move" :class="button--cta-new">MOVE</button>
          </div>
        </div>
      </div>

      <!-- <div class="modal-footer">
        <slot name="footer">
          default footer
          <button class="modal-default-button" @click="$emit('close')">
            close
          </button>
        </slot>
      </div> -->
    </div>
  </div>
</div>
