<div data-controller="modal" data-target="modal.modal" class="modal-mask">
  <div class="modal-wrapper">
    <div class="card--container card--container-padding modal-container">
      <div class="modal-header">
        <h3><%= header %></h3>
        <span data-action="click->modal#close">
          <img class="modal-close" src="/icons/cancel.svg" width="22">
        </span>
      </div>

      <div class="modal-body">
        <%= yield %>
      </div>

      <!-- <div class="modal-footer">
        <slot name="footer">
          default footer
          <button class="modal-default-button" @click="$emit('close')">
            close
          </button>
        </slot>
      </div> -->
    </div>
  </div>
</div>
