<aside class="hidden lg:block xl:col-span-3 md:col-span-3">
  <div class="sticky position-sticky--topbar space-y-4">
    <% if user_signed_in? %>
      <%= 
        button_tag(
          'NEW SNIPPET',
          class: 'w-full button--cta-primary flex justify-center',
          data: {
            controller: 'modal',
            action: 'modal#present',
            modal_url_value: new_modals_snippet_path(folder_id: new_snippet_folder_id)
          }
        )
      %>
    <% end %>

    <%= render partial: 'shared/connect' %>

    

  </div>
</aside>