<div class="sidebar--wrapper">
  
  <div class="flex h-center">
    <%= link_to('NEW SNIPPET', @modal_url, data: { controller: 'modal', action: 'modal#present', modal_url_value: @modal_url }, class: 'button--sidebar') %>
  </div>

  <%= render partial: 'shared/connect', locals: { users_for_connect: @users_for_connect }%>
</div>
