<div class="sidebar--wrapper">
  <div class="card--container card--container-padding text-center margin-bottom">
    <span class="bold"><%= @page_title.upcase %></span>
  </div>
  
  <div class="flex justify-center">
    <%= link_to('NEW SNIPPET', @modal_url, data: { controller: 'modal', action: 'modal#present', modal_url_value: @modal_url }, class: 'button--sidebar') %>
  </div>

  <%= render partial: 'shared/connect', locals: { users_for_connect: @users_for_connect }%>
</div>
