<div class="sidebar--wrapper">
  <div class="sidebar--section-wrapper">
    <div class="menu-button--wrapper">
      <%= link_to root_path, class: request.fullpath == root_path ? 'menu-button--item-active' : 'menu-button--item' do %>
        <img src="/icons/home.svg" width="28">
        <span style="display: block;  margin-top: 8px;">Home</span>
      <% end %>
      <%= link_to folders_path, class: request.fullpath == folders_path ? 'menu-button--item-active' : 'menu-button--item' do %>
        <img src="/icons/folder-1.svg" width="28">
        <span style="display: block; margin-top: 8px;">Folders</span>
      <% end %>
    </div>
    <div class="menu-button--wrapper">
      <div class="menu-button--item">
        <img src="/icons/envelope.svg" width="28">
        <span style="display: block; margin-top: 8px;">Messages</span>
      </div>
      <%= link_to edit_user_registration_path, class: request.fullpath == edit_user_registration_path ? 'menu-button--item-active' : 'menu-button--item' do %>
        <img src="/icons/settings.svg" width="28">
        <span style="display: block; margin-top: 8px;">Settings</span>
      <% end %>
    </div>
    <%# <div class="menu-button--wrapper">
      <div class="menu-button--item">
        <img src="/icons/loupe.svg" width="28">
        <span style="display: block; margin-top: 8px;">Explore</span>
      </div>
      <div class="menu-button--item">
        <img src="/icons/chat-1.svg" width="28">
        <span style="display: block; margin-top: 8px;">Comments</span>
      </div>
    </div> %>
  </div>
</div>
