<div
  id="toast"
  class="toast--container-notice hidden"
  data-controller="toast"
  data-target="toast.toast"
  data-toast-notice="<%= notice %>"
  data-toast-alert="<%= alert %>"
>
  <span data-target="toast.message"></span>
</div>
