<div id="header">
  <div id="header-wrapper" style="position: relative;">
    <div style="display: flex; align-items: center;">
      <img class="logo--topbar" src="/logos/snippet_logo.png">
    </div>

    <div style="display: flex; align-items: center;">
      <% if !user_signed_in? %>
        <%= link_to('SIGN IN', new_user_session_path, class: "button--cta-blue") %>  
        <%= link_to('SIGN UP', new_user_registration_path, class: "button--cta-transparent") %>  
      <% else %>
        <h3 class="margin-right"><%= @page_title || '' %></h3>
      <% end %>
    </div>
  </div>
</div>

<div class="header-spacer"></div>
