<div class="form--generic">
  <h1 class="text-center text-4xl"><%= header %></h1>
  <p class="text-center mt-2"><%= sub_header %></p>

  <div class="bg-cyan-light p-4 mt-8 mb-10">
    <%= yield %>
  </div>

  <% if defined?(footer) %>
    <p class="text-center"><%= footer %></p>
  <% end %>
</div>
