<div class="alert-header">
  <h3 data-target="alert.header" id="alert-title"><%= @title %></h3>
  <span data-action="click->alert#close">
    <img class="alert-close" src="/icons/cancel.svg" width="22">
  </span>
</div>

<div class="alert-body">
  <span id="alert-body"><%= @message %></span>
</div>

<div class="alert-footer">
  <button data-action="click->alert#close" class="button--cta-cancel">
    CANCEL
  </button>

  <%= link_to( 
    @confirm_word,
    @confirm_path,
    method: :delete,
    remote: true,
    data: { toast_message: @toast_message, resource_id: @resource_id, action: 'ajax:success->alert#deleteSuccess' },
    class: "button--cta-new"
  ) %>
</div>
