<h1 class="text-center margin-top margin-bottom">Connect</h1>

<div
  data-controller="infinite-scroll-window snippets-list"
  data-infinite-scroll-window-base-url="<%= connect_path %>"
>
  <div class="flex v-center space-between">

    <div class="searchbar">
      <input autofocus
        type="text"
        placeholder="Search"
        data-action="input->infinite-scroll-window#search"
        data-infinite-scroll-window-target="input"
      />
      <img src="/icons/search.svg">
    </div>
  </div>

  <div class="margin-top"
    data-infinite-scroll-window-target="entries"
    data-action="scroll@window->infinite-scroll-window#scroll"
  >
    <%= render 'users/follow_previews' %>
  </div>

  <div data-infinite-scroll-window-target="pagination" class="hidden">
    <%= will_paginate @users, container: false %>
  </div>
</div>
