<div
  data-controller="infinite-scroll-window snippets-list"
  data-infinite-scroll-window-base-url="<%= connect_path %>"
>
  <div class="mb-4 relative">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <%= render partial: 'shared/icons/search', locals: { classes: 'w-5 h-5 text-gray-400' } %>
    </div>
    <input
      type="text" 
      class="focus:ring-indigo-500 focus:border-indigo-500 block w-1/2 pl-10 sm:text-sm border-gray-300 rounded-sm shadow-sm"
      placeholder="Search for someone"
      data-action="input->infinite-scroll-window#search"
      data-infinite-scroll-window-target="input"
    >
  </div>

  <%= render 'infinite_scroll/basic_list' do %>
    <%= render 'users/follow_previews' %>
  <% end %>

</div>
