<div
  data-controller="infinite-scroll-window snippets-list"
  data-infinite-scroll-window-base-url="<%= connect_path %>"
>
  <div class="flex v-center space-between">

    <div class="searchbar mb-4">
      <input autofocus
        type="text"
        placeholder="Search"
        data-action="input->infinite-scroll-window#search"
        data-infinite-scroll-window-target="input"
      />
      <img src="/icons/search.svg">
    </div>
  </div>

  <%= render 'infinite_scroll/basic_list' do %>
    <%= render 'users/follow_previews' %>
  <% end %>

</div>
