<div data-controller="infinite-scroll">
  <div
    id="infinite-snippets-list"
    data-target="infinite-scroll.entries"
    data-action="scroll@window->infinite-scroll#scroll snippet-created@window->infinite-scroll#add"
  >
    <%= render 'snippets/snippets' %>
  </div>

  <div data-target="infinite-scroll.pagination" class="hidden">
    <%= will_paginate @snippets, container: false %>
  </div>
</div>
