<% content_for :cache_control do %>
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>


<div class="margin-auto width-860" data-controller="infinite-scroll-window snippets-list">
  <div
    id="infinite-snippets-list"
    data-infinite-scroll-window-target="entries"
    data-action="scroll@window->infinite-scroll-window#scroll snippet-created@window->infinite-scroll-window#add snippet-updated@window->snippets-list#update"
  >
    <%= render 'snippets/snippets' %>
  </div>

  <div data-infinite-scroll-window-target="pagination" class="hidden">
    <%= will_paginate @snippets, container: false %>
  </div>
</div>
