@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'codemirror/lib/codemirror.css';

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  @apply font-mono p-2 rounded-sm border text-sm;
  height: auto;
  color: black;
  direction: ltr;
  // overflow-y: scroll;
}

@import '../../assets/stylesheets/themes/one-light.scss';

// HEADINGS

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }
}

// CODE HIGHLIGHT
pre {
  @apply text-sm;
}

// BUTTONS
.button {
  @apply font-normal cursor-pointer inline-flex items-center px-3 py-2 border text-sm leading-4 rounded-sm shadow-sm transition;

  // CALLS TO ACTION
  &--cta {
    @extend .button;

    &-primary {
      @extend .button--cta;
    
      @apply  hover:bg-cyan-hover bg-cyan text-white border-cyan;
    }
    
    &-secondary {
      @extend .button--cta;
    
      @apply bg-space-cadet text-white border-space-cadet;
    }
    
    &-tertiary {
      @extend .button--cta;
    
      @apply bg-white text-cyan border-cyan hover:bg-cyan-light;
    }
  }

  // DISABLED
  &--disabled {
    @extend .button;

    @apply bg-gray-200 text-gray-400 border-gray-400;
    cursor: auto;
  }

  // CANCEL
  &--cancel {
    @extend .button;

    @apply border-gray-500 text-gray-500 hover:bg-cyan-light;
  }  
}
