@import './variables.scss';

#header-spacer {
  width: 100%;
  height: $topbar-height;
  background-color: $color-grey-background;
}

#header {
  width: 100%;
  background-color: $color-white;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  z-index: 7;
  margin-bottom: $topbar-margin;
}

#header-nav {
  max-width: 1080px;
  margin: 0 auto !important; 
  display: flex;
  justify-content: space-between;
  height: $topbar-height;
  max-height: $topbar-height;
}

#topbar-secondary {
  display: flex;
  align-items: center;
  height: 40px;
}
