@import './variables.scss';

.sidebar {
  &--wrapper {
    z-index: 1;
    margin-right: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 68px;
  }

  &--new-snippet {
    color: $color-primary;
  }
}

.menu-button {
  &--wrapper {
    display: flex;
    position: relative;
  }

  &--icon {
    margin-left: 12px;
  }

  &--name {
    margin-left: 14px;
  }

  &--notification {
    text-align: center;
    position: absolute;
    top: 4px;
    left: 30px;
    width: 14px;
    height: 14px;
    background-color: $color-red;
    border-radius: 50%;
    font-size: 12px;
    color: white;
  }

  &--item {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-black;
    font-weight: 100;
    font-size: 15px;
    padding:8px;
    text-decoration: none;
    padding-left: 40px;
    
    &:hover {
      cursor: pointer;
      background-color: $color-light;
      // border-bottom: 2px solid $color-secondary;
      text-decoration: underline;
      text-decoration-color: $color-primary;
      border-radius: 2px;
    }

    &-active {
      @extend .menu-button--item;

      // border-bottom: 2px solid $color-primary;
      text-decoration: underline;
      text-decoration-color: $color-primary;
    }
  }
}
