@import './variables.scss';

.sidebar {
  &--wrapper {
    z-index: 1;
    margin-right: 15px;
  }

  &--new-snippet {
    color: $color-primary;
  }
}

.menu-button {
  &--wrapper {
    display: flex;
    width: 180px;
  }

  &--icon {
    margin-left: 12px;
  }

  &--name {
    margin-left: 14px;
  }

  &--item {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color-black;
    font-weight: 100;
    font-size: 15px;
    padding:8px;
    text-decoration: none;
    
    &:hover {
      cursor: pointer;
      background-color: $color-light;
      // border-bottom: 2px solid $color-secondary;
      text-decoration: underline;
      text-decoration-color: $color-primary;
      border-radius: 2px;
    }

    &-active {
      @extend .menu-button--item;

      // border-bottom: 2px solid $color-primary;
      text-decoration: underline;
      text-decoration-color: $color-primary;
    }
  }
}
