@import './variables.scss';

html, body {
	margin: 0 auto !important; 
	float: none !important; 
  height: 100%;
  position: relative;
  background-color: #F5F6FA;
  font-family: Helvetica, sans-serif;
}

pre {
  font-family: Roboto Mono,Menlo,Consolas,monospace !important;
  font-size: 14px;
}

h1, h2, h3, span, p { font-weight: 100; }

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-primary;
    cursor: pointer;
  }
}

strong { font-weight: 500 }

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

#app {
  margin: 0 auto !important;
  margin-top: 16px;
	float: none !important; 
  max-width: 1080px;
  // height: 100vh;
}

#sidebar {
  width: 22%;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    display: none;
  }
}

#body {
  margin-top: 24px;
  // width: 100%;

  // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  //   width: 100%;
  // }
}

#content {
  max-width: $small-width;
  height: calc(100% - #{$topbar-full-height});
  margin: 0 auto;
  margin-top: $topbar-margin;
  margin-bottom: $topbar-margin;

  &-mid {
    @extend #content;

    max-width: $mid-width;
  }
}
