@import './variables.scss';

.button {
  &--cta {
    color: $color-primary;
    border-radius: 2px;
    padding: 6px 10px;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: $color-white;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

    &-cancel {
      @extend .button--cta;

      color: $color-grey;
      border: 1px solid $color-grey;

      &:hover {
        background-color: $color-hover;
      }
    }

    &-new {
      @extend .button--cta;

      border: 1px solid $color-primary;

      &:hover {
        background-color: $color-light;
      }
    }

    &-follow {
      @extend .button--cta;

      width: 120px;
      border: 1px solid $color-primary;
      background-color: $color-white;

      &:focus { outline: 0; }

      &:hover {
        background-color: $color-light;
      }
    }

    &-unfollow {
      @extend .button--cta;

      width: 120px;
      color: $color-white;
      background-color: $color-primary;
      border: 1px solid $color-primary;

      &:focus { outline: 0; }

      &:hover {
        color: $color-primary;
        background-color: $color-white;
      }
    }

    &-disabled {
      @extend .button--cta;

      outline: none;
      color: $color-grey;
      border: 1px solid $color-grey;

      &:hover {
        cursor: auto;
      }
    }

    &-blue {
      @extend .button--cta;

      border: 1px solid #003F63;
      background-color: #003F63;
    }

    &-transparent {
      @extend .button--cta;

      border: 1px solid #003F63;
      background-color: transparent;
      color: #003F63;
    }
  }
}
