@import './variables.scss';

.card {
  &--container {
    background-color: $color-white;
    border-radius: 2px;
    border: 1px solid $color-light;
    margin: 16px 0px;
    padding: 16px 8px;
    
    &-padding {
      padding: 16px;
    }
  }
}
