@import './variables.scss';

.edit-avatar {
  &--wrapper {
    position: relative;
    display: inline-block;
    margin-left: 16px;
    height: 120px;
  }

  &--cropper {
    max-height: 600px;
  }

  &--edit-button {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 0px;
    background-color: $color-white;
    border: 1px solid $color-primary;
    padding: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: $color-hover;
      opacity: 1;
    }
  }
}
