@import './variables.scss';

.empty-state {
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 0 auto;
    color: $color-grey;
  }

  &--container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      background-color: $color-light;
    }
  }
}
