@import './variables.scss';

.horizontal-line {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid $color-primary;
}

.follow {
  &--container {
    display: block;
    
    &:hover {
      background-color: $color-light;
      text-decoration: none;
    }
  }

  &--description {
    display: block;
    margin-top: 8px;
  }
}
