@import './variables.scss';

.follow {
  &--container {
    display: block;
    
    &:hover {
      background-color: $color-light;
      text-decoration: none;
    }
  }

  &--description {
    display: block;
    margin-top: 8px;
  }
}
