@import './variables.scss';

.form-field {
  margin-top: 20px;

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    font-size: 14px;
    display: block;
    font-weight: 100;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    font-size: 14px;
    display: block;
    font-weight: 100;
  }

  &--no-margin-top {
    @extend .form-field;

    margin-top: 0px;
  }
}
