@import './variables.scss';

// HOVER

.hover-grey {
  transition: 0.3s;

  &:hover { background-color: $color-hover; }
}

// SCROLL

// .scroll {
//   max-height: 100%;
//   overflow-y: scroll;
// }

// .scrollable-container {
//   max-height: calc(100vh - $topbar-full-height);
// }

.no-scroll {
  max-height: 100%;
  overflow-y: hidden;
}

// DISPLAY

.selected {
  background-color: $color-light;

  &:hover { background-color: $color-light !important; }
}

// POSITION

.position {
  &-relative { position: relative; }
  &-absolute { position: absolute; }
  &-top-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    &--topbar {
      @extend .position-sticky;

      top: $topbar-full-height;
    }
  }
}

// Z INDEX

.z {
  &-1 { z-index: 1; }
  &-2 { z-index: 2; }
  &-3 { z-index: 3; }
}

// MARGIN

.no-margin { margin: 0px }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-top { margin-top: 0px; }
.margin-top {
  margin-top: 16px;

  &--small {
    margin-top: 8px;
  }

  &--tiny {
    margin-top: 4px;
  }
}
.margin-bottom {
  margin-bottom: 16px;

  &--small {
    margin-bottom: 8px;
  }

  &--tiny {
    margin-bottom: 4px;
  }
}
.margin-left {
  margin-left: 16px;

  &--tiny {
    margin-left: 4px;
  }
}
.margin-right {
  margin-right: 16px;

  &--tiny {
    margin-right: 4px;
  }
}
.margin-auto { margin: 0 auto; }

.padding-top { padding-top: 16px; }
.padding-bottom { padding-bottom: 16px; }
.padding-left { padding-left: 16px; }
.padding-right { padding-right: 16px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// TEXT

.text-12 { font-size: 12px; }
.text-14 { font-size: 14px; }

// FONT

.normal { font-weight: normal; }
.light { font-weight: 100; }
.bold { font-weight: 500; }

// COLOR

.color-primary { color: $color-primary; }
.color-grey { color: $color-grey; }

// BACKGROUND COLOR

.bg-grey { background-color: $color-grey-background; }
.bg-white { background-color: $color-white; }

// WIDTH

.width-400 { max-width: 400px; }
.width-600 { max-width: 600px; }
.width-860 { max-width: 860px; }

// CURSOR

.pointer { cursor: pointer }

// BORDER

.border-radius-50 { border-radius: 50%; }
