@import './variables.scss';

// FLEXBOX

.flex { display: flex }
.inline-flex { display: inline-flex; }
.flex-column { flex-direction: column; }
.v-center { align-items: center; }
.v-bottom { align-items: baseline; }
.h-center { justify-content: center; }
.flex-end { justify-content: flex-end; }

.space-between { justify-content: space-between; }

// DISPLAY

.block { display: block; }
.inline-block { display: inline-block; }
.hidden { display: none !important; }

// POSITION

.position {
  &-relative { position: relative; }
  &-absolute { position: absolute; }
  &-top-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

// MARGIN

.no-margin { margin: 0px }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-top { margin-top: 0px; }
.margin-top {
  margin-top: 16px;

  &--small {
    margin-top: 8px;
  }

  &--tiny {
    margin-top: 4px;
  }
}
.margin-bottom {
  margin-bottom: 16px;

  &--tiny {
    margin-bottom: 4px;
  }
}
.margin-left {
  margin-left: 16px;

  &--tiny {
    margin-left: 4px;
  }
}
.margin-right {
  margin-right: 16px;

  &--tiny {
    margin-right: 4px;
  }
}
.margin-auto { margin: 0 auto; }

.padding-left { padding-left: 16px; }
.padding-right { padding-right: 16px; }

.text-center { text-align: center; }

// TEXT

.text-12 { font-size: 12px; }
.text-14 { font-size: 14px; }

// FONT

.normal { font-weight: normal; }
.light { font-weight: 100; }

// COLOR

.color-primary { color: $color-primary; }
.color-grey { color: $color-grey; }


// WIDTH

.width-400 { width: 400px; }

// CURSOR

.pointer { cursor: pointer }

// HOVER

.hover-grey {
  &:hover { background-color: $color-hover; }
}
