@import './variables.scss';

// HOVER

.hover-grey {
  &:hover { background-color: $color-hover; }
}

// SCROLL

.scroll {
  max-height: calc(100vh - 68px);
  overflow-y: scroll;
}

.no-scroll {
  max-height: 100%;
  overflow-y: hidden;
}

// FLEXBOX

.flex { display: flex }
.inline-flex { display: inline-flex; }
.flex-column { flex-direction: column; }
.v-center { align-items: center; }
.v-bottom { align-items: baseline; }
.h-center { justify-content: center; }
.flex-end { justify-content: flex-end; }

.space-between { justify-content: space-between; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }

// DISPLAY

.block { display: block; }
.inline-block { display: inline-block; }
.hidden { display: none !important; }
.selected {
  background-color: $color-light;

  &:hover { background-color: $color-light !important; }
}

// POSITION

.position {
  &-relative { position: relative; }
  &-absolute { position: absolute; }
  &-top-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

// Z INDEX

.z {
  &-3 { z-index: 3; }
}

// MARGIN

.no-margin { margin: 0px }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-top { margin-top: 0px; }
.margin-top {
  margin-top: 16px;

  &--small {
    margin-top: 8px;
  }

  &--tiny {
    margin-top: 4px;
  }
}
.margin-bottom {
  margin-bottom: 16px;

  &--tiny {
    margin-bottom: 4px;
  }
}
.margin-left {
  margin-left: 16px;

  &--tiny {
    margin-left: 4px;
  }
}
.margin-right {
  margin-right: 16px;

  &--tiny {
    margin-right: 4px;
  }
}
.margin-auto { margin: 0 auto; }

.padding-top { padding-top: 16px; }
.padding-bottom { padding-bottom: 16px; }
.padding-left { padding-left: 16px; }
.padding-right { padding-right: 16px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// TEXT

.text-12 { font-size: 12px; }
.text-14 { font-size: 14px; }

// FONT

.normal { font-weight: normal; }
.light { font-weight: 100; }
.bold { font-weight: 500; }

// COLOR

.color-primary { color: $color-primary; }
.color-grey { color: $color-grey; }

// BACKGROUND COLOR

.bg-grey { background-color: $color-grey-background; }

// WIDTH

.width-400 { max-width: 400px; }
.width-600 { max-width: 600px; }

// CURSOR

.pointer { cursor: pointer }

// BORDER

.border-radius-50 { border-radius: 50%; }
