@import './variables.scss';

.horizontal-line {
  border-top: 1px solid $color-primary;

  &--large {
    @extend .horizontal-line;

    padding-top: 16px;
    margin-top: 16px;

    &-no-bottom {
      @extend .horizontal-line;

      padding-top: 0px;
    }
  }

  &--small {
    @extend .horizontal-line;

    padding-top: 8px;
    margin-top: 8px;
  }
}
