@import './variables.scss';

.hovercard {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px lightgrey;
  top: 60px;
  left: -180px;
  z-index: 5;
  padding: 16px;
  width: 360px;
  display: flex;

  &--image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
  }

  &--heading {
    display: block;
    font-weight: 500;
  }

  &--sub-heading {
    display: block;
    color: $color-grey;
    font-size: 12px;
  }

  &--content {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &--footer {
    display: block;
    font-size: 14px;
  }
}
