@import './variables.scss';

.arrow {
  position: absolute;
  left: calc(50% - 8px);
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.hovercard {
  position: absolute;
  background-color: $color-white;
  left: calc(-196px + 50%);
  z-index: 5;
  padding: 16px;
  width: 360px;
  display: flex;
  box-shadow: 0 1px 2px lightgrey;
  border: 1px solid lightgrey;

  &-above {
    @extend .hovercard;

    bottom: calc(100% + 10px);

    .arrow {
      @extend .arrow;

      bottom: -8px;
      border-top: 8px solid lightgrey;
    }
  }

  &-below {
    @extend .hovercard;

    top: calc(100% + 10px);

    .arrow {
      @extend .arrow;

      top: -8px;
      border-bottom: 8px solid lightgrey;
    }
  }

  &--image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
  }

  &--heading {
    display: block;
    font-weight: 500;
  }

  &--sub-heading {
    display: block;
    color: $color-grey;
    font-size: 12px;
  }

  &--content {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &--footer {
    display: block;
    font-size: 14px;
  }
}
