@import './variables.scss';

.list-item {
  &--wrapper {
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    padding: 16px;
    position: relative;

    &:hover {
      background-color: $color-hover;
    }
  }

  &--body {
    display: block;
    margin-top: 8px;
    margin-left: 60px;
  }
}
