@import './variables.scss';

.more-button {
  padding: 3px 4px;
  display: flex;
  align-items: center;
  margin-left: 4px;

  &--top-right {
    @extend .more-button;

    position: absolute;
    top: 0px;
    right: 0px;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-light;
  }
}
