.popover {

  &--container {
    background-color: white;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    width: 120px;
    text-align: left;
    z-index: 5;
    padding: 8px 0px;
    font-size: 14px;
    top: calc(100% + 8px);
    right: 0px;

    &:focus {
      outline: none;
    }

    & a {
      text-decoration: none;
    }
  }

  &--item {
    display: block;
    font-weight: 100;
    padding: 4px 12px;
    // min-width: 120px;

    &:hover { 
      background-color: #DEF2F1;
      cursor: pointer;
    }
  }
}
