@import './variables.scss';

.move-snippet {
  &--search {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px;
    border: 1px solid #DEF2F1;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;

    &:focus { outline: none; }
  }

  &--list {
    height: 400px;
    overflow-y: scroll;
    margin: 16px 0px;
    border: 1px solid #DEF2F1;
    border-radius: 2px;
    font-size: 14px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }

  &--item {
    padding: 6px 6px;
    display: flex;
    justify-content: space-between;

    // &:nth-child(odd) {background: white}
    // &:nth-child(even) {background: #F2F2F2}

    &:hover {
      cursor: pointer;
      background-color: #DEF2F1;
    }

    &-selected {
      padding: 6px 6px;
      display: flex;
      justify-content: space-between;

      background-color: #ffd8dd;

      &:hover {
        cursor: pointer;
        background-color: #ffd8dd;
      }
    }
  }

  &--buttons {
    display: flex;
    justify-content: flex-end;
  }
}

.snippet {
  &--container {
    display: block;
    text-decoration: none;
    color: inherit;

    &-preview {
      @extend .snippet--container;

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  &--author-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &--filename {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  &--description {
    font-weight: 500;
  }

  &--content {
    max-height: 258px;

    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
}

.new-snippet {
  &--description {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    margin: 16px 0px;
    font-size: 14px;
    display: block;
    font-weight: 100;
  }

  &--body {
    display: flex;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 2px;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    font-size: 14px;
    font-family: Roboto Mono,Menlo,Consolas,monospace;
    font-weight: 100;
  }

  &--preview {
    height: 400px;
    overflow: scroll;
  }
}

.create-snippet--options-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.create-snippet--wrapper {
  // display: flex;
  // flex-direction: column;
  padding: 16px;
  border-radius: 2px;
  background-color: white;
  margin: 16px 0px;
}

// textarea {
//   display: inline-block;
//   font-family: "Monaco", courier, monospace;
//   color: #333;
//   padding: 0;
//   height: 100%;
// }

// textarea:focus {
//   outline: 0;
// }

.create-snippet--input-wrapper {
  flex: 1;
  margin: 16px;
}

.create-snippet--markdown-wrapper {
  flex: 1;
}

.create-snippet--markdown-container {
  overflow: auto;
  margin: 0px 16px 16px 16px;
}

/* pre {
  background-color: lightgrey;
  overflow: auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 13px;
} */
