@import './variables.scss';

.snippets {
  &--list-item {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px;

    &:hover {
      background-color: $color-light;
      cursor: pointer;
    }

    &:hover .snippets--list-item--title-link {
      text-decoration: underline;
      text-decoration-color: $color-primary;
    }

    &--wrapper {
      border: 1px solid $color-light;
      border-radius: 5px;
      margin: 16px 0px;
    }

    &--title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--social-wrapper {
      margin: 10px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--author-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 10px 0px 0px 0px;
    }

    &--title-link {
      max-width: 550px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      font-weight: 100;
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
