.tabs {
  &--headers{
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
    }
  }

  &--header {
    padding: 16px;
    border-radius: 2px;
    border-bottom: 1px solid lightgray;

    &:hover {
      cursor: pointer;
      background-color: #DEF2F1;
    }

    &-active {
      @extend .tabs--header;

      // text-decoration: underline;
      // text-decoration-color: #3AAFA9;
      border-bottom: 2px solid #3AAFA9;
    }
  }
}
