@import './variables.scss';

.toast {
  &--container {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    bottom: 30px;
    padding: 18px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    text-align: center;

    &-notice {
      @extend .toast--container;

      background-color: $color-light;
    }

    &-alert {
      @extend .toast--container;

      background-color: $color-pink;
    }
  }
}
