@import './variables.scss';

.user-preview {
  &--wrapper {
    display: flex;
    // align-items: center;

    a:hover { opacity: 85%; }
  }

  &--img {
    border-radius: 50%;
    display: block;
  }

  &--summary {
    margin: 8px 0px 0px 12px;

    &-name {
      display: block;
      font-weight: 500;
      font-size: 16px;
      font-family: Helvetica, sans-serif;
    }

    &-time-ago {
      font-size: 12px;
      color: $color-grey;
    }
  }
}
