$color-primary: #3AAFA9;
$color-primary-hover: #51b9b4;
$color-secondary: #2B7A78;
$color-purple: #b853ba;
$color-light: #DEF2F1;
$color-lighter: #c5ece5;
$color-white: white;
$color-black: #17252A;
$color-grey: #808080;
$color-grey-light: #E6ECF0;
$color-grey-background: #F5F6FA;
$color-hover: #F2F2F2;
$color-pink: #FFD8DE;
$color-red: red;

$color-dark-blue: #003F63;
$color-light-blue: #27658a;

// TOPBAR
$topbar-height: 58px;
$topbar-margin: 16px;
$topbar-full-height: calc(#{$topbar-height} + #{$topbar-margin});

// CONTENT
$small-width: 860px;
$mid-width: 1080px;

// MARGIN

.folders {
  height: calc(100vh - #{$topbar-full-height} - #{$topbar-margin});
  // overflow-y: scroll;
}
