$color-primary: #3AAFA9;
$color-secondary: #2B7A78;
$color-purple: #b853ba;
$color-light: #DEF2F1;
$color-lighter: #c5ece5;
$color-white: white;
$color-black: #17252A;
$color-grey: #808080;
$color-grey-light: #E6ECF0;
$color-hover: #F2F2F2;
$color-pink: #FFD8DE;
