<div id="alert" class="alert-mask" data-controller="alert" data-target="alert.alert">
  <div class="alert-wrapper">
    <div data-target="alert.body" class="alert-container">
      <div class="alert-header">
        <h3 data-target="alert.header" id="alert-title"><%= @header %></h3>
        <span data-action="click->alert#close">
          <img class="alert-close" src="/icons/cancel.svg" width="22">
        </span>
      </div>

      <div class="mt-5 mb-5">
        <span data-target="alert.body" id="alert-body"><%= @message %></span>
      </div>

      <div class="flex justify-end">
        <button data-action="click->alert#close" class="button--cancel">
          Cancel
        </button>

        <%= yield %>
      </div>
    </div>
  </div>
</div>
